/* line 1, ../sass/base/_index.scss */
body { font-family: sans-serif; }

/* line 5, ../sass/base/_index.scss */
h2 { margin: 1em 0 0 0; padding: 0; }

/* line 9, ../sass/base/_index.scss */
h3 { margin: 0; text-align: center; }

/* line 9, ../sass/styles.scss */
.display-width { display: inline-block; margin: 0; padding: 0; }
/* line 15, ../sass/styles.scss */
.display-width .content-page { clear: both; width: 100%; float: left; margin-left: 0; margin-right: 0; }
/* line 19, ../sass/styles.scss */
.display-width h4, .display-width p { display: none; }
/* line 23, ../sass/styles.scss */
.display-width .content-section { margin: 0; padding: 0; min-height: 32px; }
/* line 28, ../sass/styles.scss */
.display-width .content-section:after { display: block; padding: 6px; font-weight: bold; }
/* line 35, ../sass/styles.scss */
.display-width .content-section:nth-of-type(1) { background-color: #ddd; }
/* line 38, ../sass/styles.scss */
.display-width .content-section:nth-of-type(1):after { content: "1"; color: #000; }
/* line 44, ../sass/styles.scss */
.display-width .content-section:nth-of-type(2) { background-color: #bbb; }
/* line 47, ../sass/styles.scss */
.display-width .content-section:nth-of-type(2):after { content: "2"; color: #000; }
/* line 53, ../sass/styles.scss */
.display-width .content-section:nth-of-type(3) { background-color: #999; }
/* line 56, ../sass/styles.scss */
.display-width .content-section:nth-of-type(3):after { content: "3"; color: #000; }
/* line 62, ../sass/styles.scss */
.display-width.display-width-small { width: 20%; }
/* line 68, ../sass/styles.scss */
.display-width.display-width-small .content-page .content-page-inner { margin: 0 auto; width: 48px; }
/* line 75, ../sass/styles.scss */
.display-width.display-width-medium { width: 30%; }
/* line 81, ../sass/styles.scss */
.display-width.display-width-medium .content-page .content-page-inner { margin: 0 auto; width: 96px; }
/* line 88, ../sass/styles.scss */
.display-width.display-width-large { width: 40%; }
/* line 94, ../sass/styles.scss */
.display-width.display-width-large .content-page .content-page-inner { margin: 0 auto; width: 192px; }

/* line 109, ../sass/styles.scss */
.content-layout-stone .display-width-large .content-section:nth-of-type(1), .content-layout-stone .display-width-medium .content-section:nth-of-type(1) { width: 23.72881%; float: left; min-height: 64px; }
/* line 114, ../sass/styles.scss */
.content-layout-stone .display-width-large .content-section:nth-of-type(2), .content-layout-stone .display-width-medium .content-section:nth-of-type(2) { width: 74.57627%; float: right; margin-right: 0; min-height: 64px; }
/* line 119, ../sass/styles.scss */
.content-layout-stone .display-width-large .content-section:nth-of-type(3), .content-layout-stone .display-width-medium .content-section:nth-of-type(3) { clear: both; width: 100%; float: left; margin-left: 0; margin-right: 0; }

/* line 130, ../sass/styles.scss */
.content-layout-stone-flipped .display-width-large .content-section:nth-of-type(1), .content-layout-stone-flipped .display-width-medium .content-section:nth-of-type(1) { width: 23.72881%; float: right; margin-right: 0; min-height: 64px; }
/* line 135, ../sass/styles.scss */
.content-layout-stone-flipped .display-width-large .content-section:nth-of-type(2), .content-layout-stone-flipped .display-width-medium .content-section:nth-of-type(2) { width: 74.57627%; float: left; min-height: 64px; }
/* line 140, ../sass/styles.scss */
.content-layout-stone-flipped .display-width-large .content-section:nth-of-type(3), .content-layout-stone-flipped .display-width-medium .content-section:nth-of-type(3) { clear: both; width: 100%; float: left; margin-left: 0; margin-right: 0; }

/* line 151, ../sass/styles.scss */
.content-layout-stone-2 .display-width-large .content-section:nth-of-type(1), .content-layout-stone-2 .display-width-medium .content-section:nth-of-type(1) { width: 74.57627%; float: right; margin-right: 0; min-height: 64px; }
/* line 156, ../sass/styles.scss */
.content-layout-stone-2 .display-width-large .content-section:nth-of-type(2), .content-layout-stone-2 .display-width-medium .content-section:nth-of-type(2) { width: 23.72881%; float: left; min-height: 64px; }
/* line 161, ../sass/styles.scss */
.content-layout-stone-2 .display-width-large .content-section:nth-of-type(3), .content-layout-stone-2 .display-width-medium .content-section:nth-of-type(3) { clear: both; width: 100%; float: left; margin-left: 0; margin-right: 0; }

/* line 172, ../sass/styles.scss */
.content-layout-stone-flipped-2 .display-width-large .content-section:nth-of-type(2), .content-layout-stone-flipped-2 .display-width-medium .content-section:nth-of-type(2) { width: 23.72881%; float: right; margin-right: 0; min-height: 64px; }
/* line 177, ../sass/styles.scss */
.content-layout-stone-flipped-2 .display-width-large .content-section:nth-of-type(1), .content-layout-stone-flipped-2 .display-width-medium .content-section:nth-of-type(1) { width: 74.57627%; float: left; min-height: 64px; }
/* line 182, ../sass/styles.scss */
.content-layout-stone-flipped-2 .display-width-large .content-section:nth-of-type(3), .content-layout-stone-flipped-2 .display-width-medium .content-section:nth-of-type(3) { clear: both; width: 100%; float: left; margin-left: 0; margin-right: 0; }

/* line 194, ../sass/styles.scss */
.content-layout-grass .display-width-large .content-section:nth-of-type(1), .content-layout-grass .display-width-medium .content-section:nth-of-type(1) { width: 32.20339%; float: left; min-height: 64px; }
/* line 199, ../sass/styles.scss */
.content-layout-grass .display-width-large .content-section:nth-of-type(2), .content-layout-grass .display-width-medium .content-section:nth-of-type(2) { width: 66.10169%; float: right; margin-right: 0; min-height: 64px; }
/* line 204, ../sass/styles.scss */
.content-layout-grass .display-width-large .content-section:nth-of-type(3), .content-layout-grass .display-width-medium .content-section:nth-of-type(3) { clear: both; width: 100%; float: left; margin-left: 0; margin-right: 0; }

/* line 215, ../sass/styles.scss */
.content-layout-grass-flipped .display-width-large .content-section:nth-of-type(1), .content-layout-grass-flipped .display-width-medium .content-section:nth-of-type(1) { width: 32.20339%; float: right; margin-right: 0; min-height: 64px; }
/* line 220, ../sass/styles.scss */
.content-layout-grass-flipped .display-width-large .content-section:nth-of-type(2), .content-layout-grass-flipped .display-width-medium .content-section:nth-of-type(2) { width: 66.10169%; float: left; min-height: 64px; }
/* line 225, ../sass/styles.scss */
.content-layout-grass-flipped .display-width-large .content-section:nth-of-type(3), .content-layout-grass-flipped .display-width-medium .content-section:nth-of-type(3) { clear: both; width: 100%; float: left; margin-left: 0; margin-right: 0; }

/* line 236, ../sass/styles.scss */
.content-layout-grass-2 .display-width-large .content-section:nth-of-type(1), .content-layout-grass-2 .display-width-medium .content-section:nth-of-type(1) { width: 66.10169%; float: right; margin-right: 0; min-height: 64px; }
/* line 241, ../sass/styles.scss */
.content-layout-grass-2 .display-width-large .content-section:nth-of-type(2), .content-layout-grass-2 .display-width-medium .content-section:nth-of-type(2) { width: 32.20339%; float: left; min-height: 64px; }
/* line 246, ../sass/styles.scss */
.content-layout-grass-2 .display-width-large .content-section:nth-of-type(3), .content-layout-grass-2 .display-width-medium .content-section:nth-of-type(3) { clear: both; width: 100%; float: left; margin-left: 0; margin-right: 0; }

/* line 257, ../sass/styles.scss */
.content-layout-grass-flipped-2 .display-width-large .content-section:nth-of-type(2), .content-layout-grass-flipped-2 .display-width-medium .content-section:nth-of-type(2) { width: 32.20339%; float: right; margin-right: 0; min-height: 64px; }
/* line 262, ../sass/styles.scss */
.content-layout-grass-flipped-2 .display-width-large .content-section:nth-of-type(1), .content-layout-grass-flipped-2 .display-width-medium .content-section:nth-of-type(1) { width: 66.10169%; float: left; min-height: 64px; }
/* line 267, ../sass/styles.scss */
.content-layout-grass-flipped-2 .display-width-large .content-section:nth-of-type(3), .content-layout-grass-flipped-2 .display-width-medium .content-section:nth-of-type(3) { clear: both; width: 100%; float: left; margin-left: 0; margin-right: 0; }

/* line 280, ../sass/styles.scss */
.content-layout-dirt .display-width-large .content-section:nth-of-type(1), .content-layout-dirt .display-width-medium .content-section:nth-of-type(1) { width: 49.15254%; float: left; min-height: 64px; }
/* line 285, ../sass/styles.scss */
.content-layout-dirt .display-width-large .content-section:nth-of-type(2), .content-layout-dirt .display-width-medium .content-section:nth-of-type(2) { width: 49.15254%; float: right; margin-right: 0; min-height: 64px; }
/* line 290, ../sass/styles.scss */
.content-layout-dirt .display-width-large .content-section:nth-of-type(3), .content-layout-dirt .display-width-medium .content-section:nth-of-type(3) { clear: both; width: 100%; float: left; margin-left: 0; margin-right: 0; }

/* line 301, ../sass/styles.scss */
.content-layout-dirt-flipped .display-width-large .content-section:nth-of-type(1), .content-layout-dirt-flipped .display-width-medium .content-section:nth-of-type(1) { width: 49.15254%; float: right; margin-right: 0; min-height: 64px; }
/* line 306, ../sass/styles.scss */
.content-layout-dirt-flipped .display-width-large .content-section:nth-of-type(2), .content-layout-dirt-flipped .display-width-medium .content-section:nth-of-type(2) { width: 49.15254%; float: left; min-height: 64px; }
/* line 311, ../sass/styles.scss */
.content-layout-dirt-flipped .display-width-large .content-section:nth-of-type(3), .content-layout-dirt-flipped .display-width-medium .content-section:nth-of-type(3) { clear: both; width: 100%; float: left; margin-left: 0; margin-right: 0; }

/* line 323, ../sass/styles.scss */
.content-layout-cobblestone .display-width-large .content-section:nth-of-type(1) { width: 32.20339%; float: left; margin-right: 1.69492%; min-height: 96px; }
/* line 328, ../sass/styles.scss */
.content-layout-cobblestone .display-width-large .content-section:nth-of-type(2) { width: 32.20339%; float: left; margin-right: 1.69492%; min-height: 96px; }
/* line 333, ../sass/styles.scss */
.content-layout-cobblestone .display-width-large .content-section:nth-of-type(3) { width: 32.20339%; float: right; margin-right: 0; min-height: 96px; }

/* line 344, ../sass/styles.scss */
.content-layout-cobblestone-flipped .display-width-large .content-section:nth-of-type(1) { width: 32.20339%; float: right; margin-right: 0; min-height: 96px; }
/* line 349, ../sass/styles.scss */
.content-layout-cobblestone-flipped .display-width-large .content-section:nth-of-type(2) { width: 32.20339%; float: left; margin-right: 1.69492%; min-height: 96px; }
/* line 354, ../sass/styles.scss */
.content-layout-cobblestone-flipped .display-width-large .content-section:nth-of-type(3) { width: 32.20339%; float: left; margin-right: 1.69492%; min-height: 96px; }
